.venv/
.downloads/
Exports/
PCAP/
ScapyStudioData/
ScapyStudioProjects/
__pycache__/
*.pyc
*.pyo
dist/
build/
MANIFEST
*.egg-info/
test/*.html
.coverage*
coverage.xml
.tox
.ipynb_checkpoints
.mypy_cache
.vscode
.DS_Store
doc/scapy/_build
doc/scapy/api
.idea
